<div class="modal fade" id="modalEditRelease" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="panel panle-warning modal-content" id="formEditRelease">
        <div class="panel-heading model-header" id = "titleEditRelease">Modifier une release
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
          <form id= "editRlease" method="POST" action="{{path('release_edit')}}">
            <div class="panel-body" id="formEditReleaseContent">
              {{form_start(form)}}
                {{ form_widget(form)}}
                    <input type="submit" value="Modifier" class="btn btn-warning" id="editBtn"/>
                {{ form_end(form) }}
            </div>
          </form>
    </div>
  </div>
</div>
