<div class="modal fade" id="modelCreateRelease" role="dialog">
  <div class="modal-dialog modal-lg">

    <div class="panel panel-warning modal-content" id="formCreateRelease">

      <div class="panel-heading modal-header" id ="titleCreateRelease">Créer une Release
       <button type="button" class="close" data-dismiss="modal">&times;</button>
     </div>

        <form method="POST" action="{{ path('release_create')}}">
          <div class="panel-body" id="formCreateReleaseContent">
          {{form_start(form)}}
            {{ form_widget(form)}}
            <input type="submit" value="Créer" class="btn btn-warning" id="createBtn" />
          {{ form_end(form) }}
          </div>
          <script type="text/javascript">
            $('#create_release').append('<input type="text" id="hidden_div_id" name="project_id" value="'+ project_id + '">');
          </script>

      </form>

    </div>
  </div>
</div>
