<div class="modal fade" id="modalCreateSprint" role="dialog">
  <div class="modal-dialog modal-lg">

    <div class="panel panel-warning modal-content" id="formCreateSprint">

      <div class="panel-heading modal-header" id ="titleCreateSprint">Créer un Sprint
       <button type="button" class="close" data-dismiss="modal">&times;</button>
     </div>

        <form method="POST" action="{{ path('sprint_create')}}">
          <div class="panel-body" id="formCreateSprintContent">
          {{form_start(form)}}
            {{ form_widget(form)}}
            <input type="submit" value="Créer" class="btn btn-warning" id="createBtn" />
          {{ form_end(form) }}
          </div>
          <script type="text/javascript">

          </script>

      </form>

    </div>
  </div>
</div>
