


<form id= "" method="POST" action="{{path('sprint_create')}}">
  <div class="panel-body" id="">
  {{form_start(form)}}
    {{ form_widget(form)}}
    <div class="modal-footer">
      <input type="submit" value="Créer" class="btn btn-warning" id="createBtn"/>

    </div>
  {{ form_end(form) }}
  </div>
</form>
