{% extends "EasyScrumEasyScrumBundle::layout.html.twig" %}

{% block title %}{{ parent() }} -Home {% endblock %}

{% block content %}
<div>
    <p>{{ projet.nom }}</p>
    <p>{{ projet.description }}</p>    
</div>


{% endblock %}
