
<div class="panel panel-danger" style="margin-top: 20px" >
      <div class="panel-heading">
              <div class="panel-title">Oooppss</div>
              <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href= "{{ path('fos_user_security_login')}}"></a></div>
      </div>

      <div style="padding-top:30px" class="panel-body" >
        <p>
          Vous n'etes pas connectez !
          Connectez-vous afin de pouvoir accéder à cette page !
        </p>
      </div>

      <div style="text-align:center; margin-bottom: 20px " >
          <a href= "{{ path('fos_user_security_login')}}"><input class="btn btn-lg btn-primary" value="Connectez-vous" /></a>
      </div>

</div>
