{% extends "EasyScrumEasyScrumBundle::layout.html.twig" %}

{% block title %}{{ parent() }} -Home {% endblock %}

{% block content %}

<h3>Créer un projet </h3>

<div class="well">
  {{ form(form) }}
</div>

{% endblock %}
