{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<div class="alert alert-success" role="alert">
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
</div>

    <a class="btn btn-primary" href= "{{ path('easy_scrum_dashbord')}}"  role="button">Voir dashboard</a>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}

{% endblock fos_user_content %}
