/***********************************************/
/************** Page d'accueil ****************/
/*********************************************/
body{
  font-family : "Arial", "Verdana", "sans-serif";
  margin:0px;
}

#welcomeDiv{
  border: solid 1px black ;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  background-color: #b3b3b3 ;

}
#welcomeDiv p{
  margin-left:45%;
  width : 200px;
  font-weight: bold ;
  margin-bottom: 40px;
}

.menuRight{
  float: right;
  padding: 5px;
}
/*Bouton de connexion */
#connexion{
  margin-left: 40%;
  margin: 0px 10px;
  background-color:#e6ac00 ;
  width : 150px;
  border-radius: 15px;
  height: 30px;
  border : none;
  color : white;
  font-size: 16px;
  font-weight: bold;
}

#connexion:hover{
  background-color : #4b9cce ;
}
/*Bouton d'inscription */
#inscription{
  background: rgba(0,0,0,0.75) ;
  width : 150px;
  height: 30px;
  border-radius: 15px;
  margin: 0px 10px;
  border : none;
  color : white;
  font-size: 16px;
  font-weight: bold;

}
#inscription:hover {
  background-color: #666666;
}
#menu ul {
    padding : 0px;
    margin: 0px;
    background-color : #333333;
    list-style-type : none ;
    text-transform: uppercase;
    font-size: 15px;
    padding: 0px 10%;
    font-weight: bold;
}


#menu li:hover {
  -webkit-box-shadow: inset 0px 0px 62px -1px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 62px -1px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 62px -1px rgba(0,0,0,0.75);
}
#menu li {
    display: inline-block;
    width: 13%;
    height: 40px;
    margin: 0px;
    padding: 0px;
    padding: 0px 30px;
    border-bottom: 3px solid #e6ac00;
    text-align: center;
    line-height: 40px;
}

#menu li a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}
/* La div fixée */
.fixNavigation{
 z-index: 9999;
 position: fixed;
 top: 0;
 /* Mise en forme */
 width: 100%;
 }
/*
 #fonctions{
   text-align: center;
 }
*/
/* La div qui contient la présentation du produit */
#presentation {
  width: 80%;
  margin: 0 auto;
  background-color: #bfbfbf;

}
/* Avec EasyScrum */
#presentationTexte
{
  padding : 10px ;
  font-size: 20px;
  font-weight: bold ;
}

/* Planifier et suivre vos projet */
#gestionProjet {
    float: left;
}

.divsFunction{
  margin: 1%;
width: 23%;
height: 360px;
background: #3388BB;
color: white;
text-align: left;
font-size: 16px;
padding: 1%;
}

/* Rédiger vos rapport */
#doc {
  float: left;
}
/*Coder en collaboration */
#code {
    float: left;
}
/*Communiquer et échanger */
#communication{
    display: inline-block;
}

.checkIcon{
  display: inline-block;
  width : 20px;
  height: 20px;
}
.textFonction{
  display: inline-block;
  margin-bottom: 24px;
}
.contentFonction{
  margin-left: 10px;
}
.titreImage{
  width : 60px;
  height: 60px;
  margin-left: 40%;

}
.titre {
  text-align: center;
  font-weight: bold ;
  margin-bottom: 26px;
}

/*la div contenat la video, texte ainsi que le boutton "demo en ligne" */
#demo {
  width: 80%;
  margin: 0 auto;
  background-color: #bfbfbf
}

/* La div contenant la video de la démo */
#video {
  margin-top: 20px;
  display: inline-block;
}
/*Texte de la démo */
#demo p {

  display: inline-block;
  vertical-align: top ;
  margin-left: 20px;
  margin-top: 80px;
  width : 900px;
}
/*Bouton "demo En ligne" */
#demo button{
  width : 150px;
  height: 30px;
  margin-right: 10px;
  border : none;
  color : white;
  font-size: 16px;
  font-weight: bold;
  float: right;
  background-color: #e6ac00;
  border-radius: 15px;
  border: none;
}

#demo button:hover{
  background-color: #3388BB ;
  border : none ;
}


/* css du footer */
footer{
  /*  background-color: #333333;*/
}

#detailFooter{
  margin-top: 10px;
  background-color: #333333 ;
  color : white ;
  border-bottom: 2px solid #1a1a1a ;
  width: 80%;
  margin: 0px 10%;
  padding: 0;
}
#detailFooter img {
  height: 60px;
  width : 60px;
  display: inline-block;

}
#about{
  border-left: 2px solid #1a1a1a ;
    padding: 10px;
  height: 200px;
  display: inline-block;

}
#contactUs{
  border-left: 2px solid #1a1a1a ;

  height: 200px;
  display: inline-block;
      padding: 10px;
}
#plan{
  border-left: 2px solid #1a1a1a ;
  height: 200px;
  display: inline-block;
    padding: 10px;
}
.texteFooter {
  vertical-align: top;
}
.titreFooter{
  font-weight: bold;
  display: inline-block;
  vertical-align: top ;
  margin-left: 10px;
}
/* La div des icons des réseaux sociaux et la mention légales */
#miniFooter{
background-color: rgba(25,25,25,1);
  color : white ;
  font-weight: bold;
  text-align: center;
  clear:both;

}

#copyright{
    display: inline-block;

}

#networkIcon{
  display: inline-block;
  padding-left: 30px;


}
#networkIcon img {
  width : 15px;
  height: 15px;
}
/***********************************************/
/******** EndOF Page d'accueil ****************/
/*********************************************/


/*******************************************/
/***************** CSS Menus dashbord *****/
/*****************************************/
#content{
  display: inline-block;
  width: calc(100% - 200px) ;
  height: 950px ;
  margin : 0px;
  padding: 10px;
  overflow: auto;

}

/* Menu Vertical */
#menuVertical {
  width: 200px;
  background-color:  #cccccc;
  height:950px;
  margin : 0px;
  /*display: inline-block;*/
  float: left;
  margin : 0px ;
  padding: 0px;
  vertical-align: top ;
}
#menuVertical ul {
  margin: 0;
  padding: 0;

  overflow: auto;

}
#menuVertical li a {
   display: block;
   color: #000;
   padding: 8px 16px;
   text-decoration: none;
}

#menuVertical li a.active {
  background-color: #e6ac00;
   color: white;
}
#menuVertical a:hover{
  background-color: #e6ac00;
  color: white;
}

#projetsClick {
  margin-top : 40px;
  cursor: pointer;
}

#projetsClick, #personnesClick, #codeClick, #docClick, #timeClick, #forumClick, #calendrierClick, #trackClick, #paramClick
{
  cursor: pointer;
}
/********* End Menu Vertical *******/
#menuContent{
  min-height: 100%
}

 .menuContent{
   width: 200px;
height: 950px;
float: left;
 }

/* Menu Horizontal */

/*#menuHorizontal ul {
    border : 1px solid red ;
    width : 100% ;
    height: 30% ;
    background-color : #b3b3b3;
    margin-top: 0px;
    margin-bottom: 0px;

}

#menuHorizontal li {
  display: inline-block;
  width:150px;
  height: 40px;
  margin: 0px;
  padding:0px;
  text-align: center;
  line-height: 30px ;
}
#menuHorizontal li a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  margin : 0px ;
}
/*
#menuHorizontal li :hover{
  background-color: #4CAF50;
}*/
.imageMenu {
  height: 30px ;
  width : 30px ;
  display: inline-block;
  margin : 0px;
}
.texteMenu {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 0px;
  margin-top:0px;
  vertical-align: top ;

}
.imageMenuH {
  height: 30px ;
  width: 30px ;
  display: inline-block;
  margin : 0px ;

}

/*#utilisateurNom{
  position: absolute;
  left : 10px ;
  top : 10px ;
}
#notifIcon{
  position: absolute;
  right : 85px ;
  top : 10px ;
}
#chatIcon{
  position: absolute;
  right : 45px ;
  top : 10px ;
}

#logoutIcon{
  position: absolute;
  right : 10px;
  top : 10px ;
}*/

/***** Css affichage liste projet ****/


#filtre, #trie, #listAffichage, #blockAffichage {
  float : right;
  margin : 8px ;
}


#projects, #releases{
  clear : both;
  height: 893px;
  animation-name: animatebottom;
  animation-duration: 1s

}
#trieButton, #filtreButton{
  background-color: #e6ac00 ;
  color : white;
  font-weight: bold;
}
.divtitle{
  clear : both;
  padding: 7px;
  background-color: #efefef ;
  border-radius: 5px ;
  height: 40px;
  font-size: 18px;
  font-weight: bold;


}
.divProject{
  float: left  ;
  margin : 20px ;


}
#projetBlock{
  cursor: pointer;
  width : 200px ;
  height: 150px ;
  margin-bottom: 0px;
}
#projetBlock:hover{
  background: #e3e3e3;
}
#projetNom {
  padding: 8px ;
  background-color: #FFC230 ;
  height: 40px;
  margin : 0px ;
}
.pName, .rName{
  float:left;
}
.archiveProject, .activeProject, .deleteProject{
  float : right ;
}
.disableCircle, .enableCircle{
  cursor: pointer;
  background: none;
  padding: 0px;
  border: none;
}
#archiveIcon{
  margin:1px;
  float: left;
  cursor : pointer;
  width : 50px;
  height: 40px;
}
.editIcon{
  float : right ;
  cursor:pointer ;
  margin : 3px ;
}
 .hiddenId_projectToDelete, .hidden_input_project_id,.hidden_input_release_id, .hidden_url, .hidden_id,
 #hidden_input_release_id, #hidden_div_id, .hiddenId_projectToArchive, .hiddenId_projectToActive,
 .hiddenId_releaseToDelete{
  display: none;
}
.deleteRelease{
  float : right ; 
}
#plusCreateProjet, #plusCreateTeam, #plusCreateRelease{
  float : left ;
  margin-left : 8px ;
  margin-top: 3px;
  margin-bottom: 10px;
  cursor : pointer;

}


#formCreateProject, #formCreateTeam, #formaddFriend, #formCreateRelease, #formCreateSprint, #formEditProject, #formEditRelease{

  margin : 40px;

}
#titleCreateProject, #titleCreateTeam, #titleaddFriend, #titleCreateRelease, #titleCreateSprint, #titleEditProject, #titleEditRelease {

  background-color: #FFC230

}



#formCreateProjectContent, #formCreateTeamContent , #formaddFriendContent, #formCreateSprintContent, #formEditProjectContent, #formEditReleaseContent{
  margin-right: 10px ;
  margin-top: 0px;
}
#formCreateProjectContent input, #formCreateProjectContent label, #formCreateTeamContent label, #formCreateTeamContent input,
#formaddFriendContent input, #formaddFriendContent label, #create_release label, #create_release input, #formCreateSprint label,
#formCreateSprint input, #formEditProjectContent input, #formEditProjectContent label, #formEditReleaseContent label, #formEditReleaseContent input
{
  margin : 10px;
  margin-left: 0px ;
}

#createBtn, #searchBtn, #editBtn{
  float : right ;
  width:120px ;
  margin : 10px;


}

#mesteams, #teams{
  height: 390px;

  overflow: auto;

}
.panel-body{

}
#allTeams{
  width : 57% ;
  float: left;
  clear: both;
  height: 750px ;
  margin-left: 10px ;
  margin-right:10px ;
}
#friends {

  float: left;
  width : 40%;
  height: 840px;
}
.panel-title{
  border : #FFC230 ;
  height: 40px;
  border-radius: 2px;
  background-color: #FFC230 ;
}
.panel-title p {
  padding: 10px ;
  font-weight: bold;

}
#personnes{
  float: left;
  width : 40%;
}
.teamNom{
  /*border : 1px solid red ;*/
  background-color: #333;
  color : white;
  border-radius: 2px;
  height: 30px;
  padding:5px ;
}

/* Connexion et inscription la div est présente dans login.html.twig et register_content.html.twig
  TODO ==> Mettre deux div différentes séparement afin de bien adapter le css
  TODO ==> Copier le css présent dans login.html.twig dans ce fichier
*/
#divContent{
    margin : 80px ;
}
#loadingDiv {
    display: block;
    margin: 400px;
    margin-left: 50%;

}

#addFriend{
  float: right;
  padding : 6px ;
  margin : 0px ;
  cursor : pointer ;
}
#releases{
  overflow-x: auto;
  overflow-y: hidden;
  width: 2400px;/*Valeur qui va changer en fonction de l'ajout de colonnes. une colonne = 230px */
}

.releaseColonne {
  height: 950px ;
  width : 230px;
  float: left;
}
.releaseRecap {
  padding:10px ;
}
.releaseName{
  height: 40px ;
}
.edit-release {
  float: right;
  margin-right: 4px;
  cursor: pointer;
}

.sprintPostIt{
  background: #ebeb5c /*#fefabc*/;
  padding:10px;
  font-family: 'Gloria Hallelujah', cursive;
  font-size:15px;
  color: #000;
  width:200px;
  height: 200px;
  margin:10px;
  box-shadow: 0px 4px 6px #333;
  -moz-box-shadow: 0px 4px 6px #333;
  -webkit-box-shadow: 0px 4px 6px #333;
}
.sprintName{
  border-bottom: 1px solid #c6c65e ;
  padding-bottom: 5px;
}

.delete-sprint, .edit-sprint{
  float : right;
  margin: 2px ;
  cursor: pointer;
}
.dropDownDescription{
  float: right;
  cursor: pointer;
}
.toggleDescription{
  font-weight: bold;
}

#plusCreateSprint{
  float: right ;
  margin-right:5px ;
  cursor:pointer;
}
.toggleDivDesc {
  padding : 10px ;
}
