/***********************************************/
/************** Page d'accueil ****************/
/*********************************************/
body{
  font-family : "Arial", "Verdana", "sans-serif";
  margin:0px;
}


#welcomeDiv{
  border: solid 1px black ;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  background-color: #b3b3b3 ;

}
#welcomeDiv p{
  margin-left:45%;
  width : 200px;
  font-weight: bold ;
  margin-bottom: 40px;
}
/*Bouton de connexion */
#connexion{
  margin-left: 40%;
  margin-right: 30px;
  background-color:#3388BB ;
  width : 150px;
  height: 30px;
  border : none;
  color : white;
  font-size: 16px;
  font-weight: bold;
}

#connexion:hover{
  background-color : #4b9cce ;
}
/*Bouton d'inscription */
#inscription{
  background: #333333 ;
  width : 150px;
  height: 30px;
  margin-left: 40px;
  border : none;
  color : white;
  font-size: 16px;
  font-weight: bold;

}
#inscription:hover {
  background-color: #666666;
}
#menu ul {
    padding : 0px;
    margin: 0px;
    background-color : #333333;
    list-style-type : none ;
}
#menu li {
  display: inline-block;
  width:150px;
  height: 40px;
  margin: 0px;
  padding:0px;
  border-right: 1px solid #CCCCCC;
  text-align: center;
  line-height: 40px ;
}

#menu li a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}
#menu li :hover{
  background-color: #3388BB;
}
/* La div fixée */
.fixNavigation{
 z-index: 9999;
 position: fixed;
 top: 0;
 /* Mise en forme */
 width: 100%;
 }
/*
 #fonctions{
   text-align: center;
 }
*/
/* La div qui contient la présentation du produit */
#presentation {
  border : solid black 1px ;
}
/* Avec EasyScrum */
#presentationTexte
{
  margin-left: 20px ;
  font-size: 20px;
  font-weight: bold ;
}

/* Planifier et suivre vos projet */
#gestionProjet {
  margin-left: 60px;
  width: 450px;
  height: 350px;
  display: inline-block;
}

/* Rédiger vos rapport */
#doc {

  width: 450px;
  height: 350px;
  display: inline-block;
}
/*Coder en collaboration */
#code {

  width: 450px;
  height: 350px;
  display: inline-block;
}
/*Communiquer et échanger */
#communication{

  width: 450px;
  height: 350px;
  display: inline-block;
}

.checkIcon{
  display: inline-block;
  width : 20px;
  height: 20px;
}
.textFonction{
  display: inline-block;
}
.contentFonction{
  margin-left: 10px;
}
.titreImage{
  width : 60px;
  height: 60px;
  margin-left: 30%;
}
.titre {
  margin-left: 20%;
  font-weight: bold ;
}

/*la div contenat la video, texte ainsi que le boutton "demo en ligne" */
#demo {
  border : 1px solid red;

}

/* La div contenant la video de la démo */
#video {
  margin-top: 20px;
  margin-left: 60px;
  display: inline-block;
  border : 2px solid green ;
}
/*Texte de la démo */
#demo p {

  display: inline-block;
  border : 1px solid blue ;
  vertical-align: top ;
  margin-left: 20px;
  margin-top: 80px;
  width : 900px;
}
/*Bouton "demo En ligne" */
#demo button{
  background-color:#333333 ;
  width : 150px;
  height: 30px;
  border : none;
  color : white;
  font-size: 16px;
  font-weight: bold;
  margin-left: 140px;

}

#demo button:hover{
  background-color: #3388BB ;
  border : none ;
}

/* css du footer */
#detailFooter{
  margin-top: 10px;
  background-color: #333333 ;
  color : white ;
  border-bottom: 2px solid #1a1a1a ;
}
#detailFooter img {
  height: 60px;
  width : 60px;
  display: inline-block;

}
#about{
  border-left: 2px solid #1a1a1a ;
  width : 32%;
  height: 200px;
  display: inline-block;
  padding-top: 10px;
  padding-left: 6px;

}
#contactUs{
  border-left: 2px solid #1a1a1a ;
  width : 32%;
  height: 200px;
  display: inline-block;
  padding-top: 10px;
  padding-left: 8px;
}
#plan{
  border-left: 2px solid #1a1a1a ;
  width : 32%;
  height: 200px;
  display: inline-block;
  padding-top: 10px;
  padding-left: 8px;
}
.texteFooter {
  vertical-align: top;
}
.titreFooter{
  font-weight: bold;
  display: inline-block;
  vertical-align: top ;
  margin-left: 10px;
}
/* La div des icons des réseaux sociaux et la mention légales */
#miniFooter{
  background-color: #333333 ;
  color : white ;
  font-weight: bold;
  text-align: center;
  clear:both;

}

#copyright{
    display: inline-block;

}

#networkIcon{
  display: inline-block;
  padding-left: 30px;


}
#networkIcon img {
  width : 15px;
  height: 15px;
}
/***********************************************/
/******** EndOF Page d'accueil ****************/
/*********************************************/


/*******************************************/
/***************** CSS Menus dashbord *****/
/*****************************************/
#content{
  /*display: inline-block;*/
  float: left;
  width: calc(100% - 200px) ;
  height: 950px ;
  margin : 0px;
  padding: 0px;
/*  border : 1px solid red ;*/
}

/* Menu Vertical */
#menuVertical {
  width: 200px;
  background-color:  #cccccc;
  height:950px;
  margin : 0px;
  /*display: inline-block;*/
  float: left;
  margin : 0px ;
  padding: 0px;
  /*border : 1px solid #b3b3b3 ;*/
  vertical-align: top ;
}
#menuVertical ul {
  margin: 0;
  padding: 0;

  overflow: auto;

}
#menuVertical li a {
   display: block;
   color: #000;
   padding: 8px 16px;
   text-decoration: none;
}

#menuVertical li a.active {
  background-color: #e6ac00;
   color: white;
}
#menuVertical a:hover{
  background-color: #e6ac00;
  color: white;
}

#projetsClick {
  margin-top : 40px;
  cursor: pointer;
}

#projetsClick, #personnesClick, #codeClick, #docClick, #timeClick, #forumClick, #calendrierClick, #trackClick, #paramClick
{
  cursor: pointer;
}
/********* End Menu Vertical *******/
#menuContent{
  min-height: 100%
}

/* Menu Horizontal */

/*#menuHorizontal ul {
    border : 1px solid red ;
    width : 100% ;
    height: 30% ;
    background-color : #b3b3b3;
    margin-top: 0px;
    margin-bottom: 0px;

}

#menuHorizontal li {
  display: inline-block;
  width:150px;
  height: 40px;
  margin: 0px;
  padding:0px;
  text-align: center;
  line-height: 30px ;
}
#menuHorizontal li a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  margin : 0px ;
}
/*
#menuHorizontal li :hover{
  background-color: #4CAF50;
}*/
.imageMenu {
  height: 30px ;
  width : 30px ;
  display: inline-block;
  margin : 0px;
}
.texteMenu {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 0px;
  margin-top:0px;
  vertical-align: top ;

}
.imageMenuH {
  height: 30px ;
  width: 30px ;
  display: inline-block;
  margin : 0px ;

}

/*#utilisateurNom{
  position: absolute;
  left : 10px ;
  top : 10px ;
}
#notifIcon{
  position: absolute;
  right : 85px ;
  top : 10px ;
}
#chatIcon{
  position: absolute;
  right : 45px ;
  top : 10px ;
}

#logoutIcon{
  position: absolute;
  right : 10px;
  top : 10px ;
}*/

/***** Css affichage liste projet ****/


#filtre, #trie, #listAffichage, #blockAffichage {
  float : right;
  margin : 8px ;
}

#projects, #equipes{
  clear : both;
  border : 1px solid red ;
  height: 893px;
}
#trieButton, #filtreButton{
  background-color: #e6ac00 ;
  color : white;
  font-weight: bold;
}
#projetBlock, #equipeBlock{
  /*border: 1px solid black ;*/
  width : 200px ;
  height: 200px ;
  float: left  ;
  margin : 20px ;
  padding:0px;
  cursor: pointer;
}
#projetNom, #equipeNom {
  padding: 8px ;
  background-color: #FFC230 ;
  height: 40px;
}
.hidden_url{
  visibility: hidden;
}

#plusCreateProjet, #plusCreateEquipe{
  float : left ;
  margin-left : 8px ;
  margin-top: 3px;

}
#formCreateProject {

  margin : 40px;

}
#titleCreateProject {

  background-color: #FFC230

}

#formCreateProjectContent{
  margin-right: 10px ;
  margin-top: 0px;
}
#formCreateProjectContent input, #formCreateProjectContent label {
  margin : 10px;
  margin-left: 0px ;
}
#createBtn{
  float : right ;
  width:120px ;


}

/* Connexion et inscription la div est présente dans login.html.twig et register_content.html.twig
  TODO ==> Mettre deux div différentes séparement afin de bien adapter le css
  TODO ==> Copier le css présent dans login.html.twig dans ce fichier
*/
#divContent{
    margin : 80px ;
}
