{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}



{% block fos_user_content %}

<div class="panel panel-info" style="margin-top: 20px" >
      <div class="panel-heading">
              <div class="panel-title">Réinitialiser le mot de passe</div>
              <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href= "{{ path('fos_user_security_login')}}"></a></div>
      </div>

      <div style="padding-top:30px" class="panel-body" >
        <p>
          {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime}) }}
        </p>
      </div>

      <div style="text-align:center; margin-bottom: 20px " >
          <a href= "{{ path('fos_user_security_login')}}"><input class="btn btn-lg btn-primary" value="OK" /></a>
      </div>

</div>
{% endblock %}
